.home {
  padding: 45px 0px;
  background-color: hsl(0, 0%, 98%);
}

.toolbox {
  margin-bottom: 40px;
}

@media (max-width: 375px) {
  .home {
    padding-top: 20px;
  }

  .toolbox {
    margin-bottom: 20px;
  }
}