.country-border-countries {
  margin-top: 35px;
  font-size: 14px;
}

.country-border-btn {
  font-size: 14px;
  padding: 3px 30px;
  margin: 3px 5px; 
}

@media (max-width: 576px) {
  .country-border-countries {
    margin-bottom: 20px;
  }

  .border-countries-meta {
    margin-bottom: 5px;
    display: block;
  }
}