.search {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 92%);
  color: hsl(0, 0%, 52%);
  border-radius: 4px;
}

.search-icon {
  color: inherit;
  margin-left: 25px;
}

.search-input {
  background-color: hsl(0, 0%, 100%);
  color: inherit;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-input::placeholder {
  color: hsl(0, 0%, 52%);
}

@media (max-width: 375px) {
  .search-icon {
    font-size: 14px;
  }

  .search-input {
    font-size: 12px;
  }
}
